.sam-react-highlight-span {
  color: red;
}
.sam-react-highlight-inputbox[contenteditable='true'] {
  white-space: nowrap;
  background: white;
  overflow: hidden;
  outline: none;
  width: 100%;
}
.sam-react-highlight-inputbox[contenteditable='true'] br {
  display: none;
}
.sam-react-highlight-inputbox[contenteditable='true'] span {
  display: inline;
  white-space: nowrap;
}
